.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background: linear-gradient(90deg, #e66465 80%, #9198e5 80%);
  background-clip: text;
  color: transparent
}

.conteinter2{
  background-color: blue;
  height: 100px;
  width: 100px;
  mask-image: url(./img/star-icon.svg);

}

p {
  font-size: 30px;
}

.container3{
  background-color: greenyellow;
  width: 150px;

}

.container4{
  width: 150px;
  display: flex;
  gap: 5px;

}

.container5{
  width: 150px;
  display: flex;
  gap: 5px;
}


